*{
    box-sizing: border-box;
}
.logo{
    padding: 32px 0 24px;
    width: 100%;
    text-align: center;
}
h2{
    color: #24292e;
    margin-bottom: 15px;
    text-align: center;
}
div{
    margin: 0 auto;
    width: 300px;
}
.main{
    margin-top: 16px;
    position: relative;
    border: 1px solid #ebedef;
    background-color: #f6f8fa;
    padding: 20px;
}
.user{
    width: 100%;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    font-size: 14px;
    padding: 5px 12px;
    margin-bottom: 15px;
    margin-top: 5px;
}
p{
    margin: 16px o 10px;
}
.second{
    position: absolute;
    left:620px;
    top:420px;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    padding: 15px 20px;
    text-align: center;
    width: 300px;
}
button{
    background-color: #2ea44f;
    color: #fff;
    width: 100%;
    padding: 5px 16px;
    border-radius: 6px;
}
#fgt{
    position: absolute;
    right: 25px;
    font-size: 12px;
}
#fgt:hover
{
    text-decoration: none;
}
.foot{
    margin-top: 80px;
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
}
.footer{
    padding-left: 10px;
    font-size: 13px;
}
a{
    color: #0366d6;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #0366d6;
}
.last{
    color:#586069;
}
